{:skill 
 {:namespace "vonwig", 
  :name "skill-sample-1", 
  :artifacts [{:args nil, :image "gcr.io/atomist-skill-production/skill-sample-1@sha256:2d9439f975683547fcc7e013cce4627a24bc4069250e5d4073c481b24b1ae077", :__typename "AtomistSkillDockerArtifact", :name "skill-sample-1", :resources nil, :env nil, :command nil}], 
  :platform "docker", 
  :id "87b03341-8786-42e3-8164-999b4d54700c", 
  :version "0.1.18", 
  :configuration {:name "skill_sample_1", :resourceProviders [], :capabilities [], :parameters [{:name "param1", :value "enter value in go-dot"} {:name "event", :value [{:name "event-0", :url "https://webhook.atomist.com/atomist/resource/9c8aa94d-9c14-4d68-a2c6-000c57232995"}]}]}}, 
 :webhook 
 {:url "https://webhook.atomist.com/atomist/resource/9c8aa94d-9c14-4d68-a2c6-000c57232995", 
  :headers {:x-forwarded-proto "https", :user-agent "curl/7.79.1", :x-scheme "https", :authorization "Basic c2xpbXNsZW5kZXJzbGFja3M6cGFzc3dvcmQ=", :x-forwarded-port "443", :host "webhook.atomist.com", :content-length "10", :x-forwarded-host "webhook.atomist.com", :content-type "application/x-www-form-urlencoded", :x-forwarded-scheme "https", :x-real-ip "10.159.0.23", :x-forwarded-for "10.159.0.23", :x-request-id "19614d1fd516cb3a906a5e9e77d780af", :accept "*/*"}, 
  :body "", 
  :parameter_name "event", 
  :parameter_name_value "event-0"}, 
 :secrets [{:uri "atomist://api-key", :value ""}], 
 :type "webhook_raw_payload", 
 :correlation_id "876177da-f747-401e-9cc1-827d300da335.2F98iIbKxoECAKYokD2Xd", 
 :log_url "https://go.atomist.com/log/AQ1K5FIKA/876177da-f747-401e-9cc1-827d300da335/2F98iIbKxoECAKYokD2Xd", 
 :team_id "AQ1K5FIKA"}
